.detail-page {
    max-width: 800px;
    width: 100%;
    padding: 20px;
    margin: 50px auto;
}

.detail-page__back-index {
    text-decoration: none;
}

.detail-page__name {

}

.detail-page__content {
    margin: 10px auto 0;
}

.product-form {
    margin: 0 auto;
}

.product-form__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    @media screen and (max-width: 600px) {
        display: block;
    }
}

.product-image {
    width: 48%;

    @media screen and (max-width: 600px) {
        width: 100%;
    }
}

.product-image__img {
    max-width: 100%;
    max-height: 400px;
    margin-bottom: 10px;
}

.product-items {
    width: 48%;

    @media screen and (max-width: 600px) {
        width: 100%;
    }
}

.product-item {
    margin-bottom: 20px;
}

.product-item__header, .product-form__description-header {
    display: block;
    margin-bottom: 2px;
}

.product-item__input-text {
    width: 100%;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.product-item__input-checkbox {
    display: none;
}

.product-item__checkbox-label {
    position: relative;
    margin-right: 30px;
    padding-left: 25px;

    @media screen and (max-width: 670px) {
        margin-right: 20px;
    }

    @media screen and (max-width: 600px) {
        margin-right: 30px;
    }
}

.product-item__checkbox-label::before {
    position: absolute;
    top: -3px;
    left: 0;
    display: inline-block;
    content: "";
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    border-radius: 10px;
}

.product-item__input-checkbox:checked+label::before {
    position: absolute;
    top: -3px;
    left: 0;
    display: inline-block;
    content: "";
    width: 20px;
    height: 20px;
    background: #000;
    border-radius: 10px;
}

.product-item__input-checkbox:checked+label::after {
    position: absolute;
    top: 4px;
    left: 5px;
    display: inline-block;
    content: "";
    width: 10px;
    height: 5px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(-45deg);
}

.product-form__description-textarea {
    width: 100%;
    height: 150px;
    padding: 5px;
    font-size: 15px;
    border: 1px solid #ddd;
    border-radius: 3px;
    resize: none;
}

.product-form__buttons {
    margin-top: 20px;
    text-align: center;
}

.product-form__button {
    display: inline-block;
    width: 120px;
    padding: 10px;
    color: #000;
    font-size: 14px;
    text-decoration: none;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

.product-form__button--orange {
    background: #f5c800;
}

.delete-form {
    position: relative;
}

.delete-form__button {
    position: absolute;
    top: -30px;
    right: 0;
    padding: 0;
    color: red;
    font-size: 20px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.product-form__error {
    list-style: none;
    margin-top: 5px;
    padding: 0;
    color: red;
}