.products-page {
    margin: 0 auto;
    padding: 50px;
    width: 90%;
    max-width: 1000px;
}

.products-page__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.products-header__title {
    margin: 0;
}

.products-header__register {
    display: inline-block;
    background: #ffa939;
    width: 120px;
    padding: 10px;
    font-size:14px;
    text-decoration: none;
    text-align: center;
    color: #000;
    border-radius: 3px;
}

.products-page__items {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.utilities {
    width: 250px;
    margin-right: 10px;
}

.utilities__search {
}

.search__input {
    width: 100%;
    height: 30px;
    border-radius: 15px;
    border: 1px solid #ddd;
    padding: 0 10px;
    font-size: 10px;
}

.search__button {
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    border: none;
    background: #f5c800;
    border-radius: 3px;
    box-shadow: 0 5px 3px #eee;
    cursor: pointer;
}

.utilities__sort {
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.sort__header {
    margin: 0;
}

.sort__select {
    position: relative;
}

.sort__select::after {
    content: "";
    position: absolute;
    border-top: 5px solid #beb1a7;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 0;
    top: 23px;
    right: 10px;

}

.sort__select-inner {
    margin-top: 10px;
    border: 1px solid #ddd;
    height: 30px;
    width: 100%;
    padding-left: 10px;
    border-radius: 3px;
    appearance: none;
    font-size: 12px;
}

.sort__select-inner:has(option:checked[value=""]) {
    color: #ccc;
}

.sort__status {
    position: relative;
    font-size: 12px;
    border: 1px solid #f5c800;
    width: 100px;
    padding: 5px;
    border-radius: 15px;
    margin-top: 10px;
}

.sort__status-button {
    position: absolute;
    top: 7px;
    right: 5px;
    width: 13px;
    height: 13px;
    border: 1px solid #f5c800;
    border-radius: 50%;
    color: #f5c800;
    text-align: center;
    font-size: 9px;
    cursor: pointer;
    padding: 0;
    background: transparent;
}

.products {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.products::after {
    content: "";
    display: block;
    width: 200px;
}

.product-card {
    background: #fff;
    margin-bottom: 10px;
    border-radius: 3px;
    box-shadow: 0 0 5px #ddd;
    text-decoration: none;
    color: #555;
    font-size: 14px;
}

.product-card__img {
    width: 200px;
}

.product-card__img-inner {
    width: 100%;
}

.product-card__content {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.product-card__content-name, .product-card__content-price {

}

.products-page__paginate {
    text-align: center;
}

.pagination__arrow-wrapper {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: #fff;
    border-radius: 12px;
}

svg.w-5.h-5 {
    width: 20px;
    height: 20px;
    color: #000;
}

.pagination__number {
    display: inline-block;
    width: 24px;
    height: 24px;
    color: #000;
    font-size: 16px;
    text-decoration: none;
    background: #fff;
    border-radius: 12px;
}

.pagination__number--orange {
    color: #fff;
    background: #f5c800;
}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 480px) {
    
}