.register-page {
    max-width: 800px;
    padding:  50px 30px;
    margin: 0 auto;
}

.register-page__header-title {
    font-size: 24px;
}

.register-form {
    margin: 0 auto;
}

.register-form__header {
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
}

.register-form__header-title {
    padding-right: 5px;
}

.register-form__header-required {
    display: inline-block;
    background: red;
    border-radius: 3px;
    padding: 0 5px;
    color: #fff;
    font-size: 12px;
}

.register-form__header-multiple {
    color: red;
    font-size: 12px;
}

.register-form__input, .register-form__textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.register-form__textarea {
    resize: none;
    height: 180px;
}

.register-form__textarea::placeholder {
    color: #555;
}

.register-form__image-img {
    max-width: 100%;
    max-height: 400px;
}

.register-form__input-checkbox {
    display: none;
}

.register-form__label-checkbox {
    position: relative;
    margin-right: 30px;
    padding-left: 25px;
}

.register-form__label-checkbox::before {
    position: absolute;
    top: -3px;
    left: 0;
    display: inline-block;
    content: "";
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    border-radius: 10px;
}

.register-form__input-checkbox:checked + label::before {
    position: absolute;
    top: -3px;
    left: 0;
    display: inline-block;
    content: "";
    width: 20px;
    height: 20px;
    background: #000;
    border-radius: 10px;
}

.register-form__input-checkbox:checked + label::after {
    position: absolute;
    top: 4px;
    left: 5px;
    display: inline-block;
    content: "";
    width: 10px;
    height: 5px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(-45deg);
}

.register-form__button {
    text-align: center;
}

.register-form__button-back {
    display: inline-block;
    width: 120px;
    padding: 5px;
    margin: 5px;
    border-radius: 3px;
    background: #ddd;
    color: #000;
    text-decoration: none;
    font-size: 14px;
}

.register-form__button-submit {
    display: inline-block;
    width: 120px;
    padding: 5px;
    margin: 20px 5px;
    border: none;
    border-radius: 3px;
    background: #f5c800;
    font-size: 14px;
    cursor: pointer;
}

.register-form__error {
    list-style: none;
    padding-left: 0;
    margin: 10px 0 0 0;
    color: red;
}